@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: darksalmon;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #222;
    display: flex;
    flex-direction: row;
    height: 70px;
}
#header-logo {
    font-size: 24px;
    color: #f9faf8;
    justify-content: flex-start;
    margin-left: 20px;
}
.header-link {
    font-size: 18px;
    display: flex;
}


li a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 20px;

}
.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    align-items: center;
}
.navbar-right {
    text-align: right;
    justify-content: flex-end;
    margin-right: 20px;
}

.description {
    display: flex;
    background-color: black;
    flex-direction: row;
    color: white;
    font-size: 20px;

}

.description-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    
}
.description-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
    margin-left: 80px;
    margin-top: 55px;
    padding: 4px;
    
}
.image {
    margin: 60px;
    border: 12px solid rgb(230, 250, 250);
    border-radius: 10px;
}
.sign-up-first-section {
    width: 150px;
    margin: 70px;
    font-size: 20px;
    background-color: rgb(177, 177, 24);
    color: black;
    border-radius: 10px;
    border:#222;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: black;
    text-align: center;
}
.subtext {
    display: flex;
    flex-direction: row;
}